
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="page-title">
        <div class="title-image">
            <!--<h1>beatswave</h1>-->
            <img src="~/images/logo1.png" alt="Logo 1">
        </div>
        <div class="global-title wow zoomIn">
            <h1>WELCOME</h1>
        </div>
    </section>

