@model BeatsWave.Web.ViewModels.Cart.CartViewModel

<div class="shop_icon">
    <a href="14-Cart.html">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span id="cartCount" class="card_count">@Model.CartCount</span>
    </a>
</div>