@{
    this.Layout = "_Layout";
    ViewData["Title"] = "Role";
}

<section id="single-gallery">
    <div class="section">
        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-item">
                <a asp-area="Identity" asp-controller="Account" asp-action="Register" asp-route-id="0" class="anim_border"></a>
                <a class="img_link"><img src="~/images/metroRoleText.png" alt=""></a>
            </div>
            <div class="grid-item">
                <a href="javascript:void(0)" class="anim_border"></a>
                <a class="img_link"><img src="~/images/21.jpg" alt=""></a>
            </div>
            <div class="grid-item">
                <a asp-area="Identity" asp-controller="Account" asp-action="Register" asp-route-id="1" class="anim_border"></a>
                <a class="img_link"><img src="~/images/tm88Text.jpg" alt=""></a>
            </div>
        </div>
    </div>
</section>