@using BeatsWave.Common
@{
    this.ViewData["Title"] = "Start";
}

<!-- START TITLE SECTION -->
<!-- END TITLE SECTION -->
<!-- START CONTACT US SECTION -->
<section id="contact-us" class="section_8" style="background-image: url('@Url.Content("~/images/form-bg.png")')">
    <div class="overly"></div>
    <div class="section">
        <div class="contact-info">
            <h2>Contact information</h2>
            <p>In case you some aquestions popped in your’s mind, </p>
            <p>FeIn case you some aquestions popped in your’el email or even visit us.</p>
            <div class="contact-adress">
                <p><i class="fa fa-home" aria-hidden="true"></i><span>Address: 175 Grand Central Parkway </span></p>
                <a href="mailto:info@beatswave.com"><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Email: support@bets.com</span></a>
                <a href="01-Home.html"><i class="fa fa-globe" aria-hidden="true"></i><span>www.beatswave.com</span></a>
            </div>
        </div>
        <div class="form">
            <form>
                <div class="row fild_1">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Full Name">
                    </div>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                </div>
                <div class="row fild_2">
                    <div class="col-sm">
                        <input type="text" class="form-control" placeholder="Website">
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">SEND MESSAGE</button>
            </form>
        </div>
    </div>
</section>
<!-- END START CONTACT US SECTION -->
@section About
    {
    <li class="nav-item">
        <a class="nav-link" asp-area="Home" asp-action="All">
            About
        </a>
    </li>
}
@section Register
    {
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Users" asp-action="ChooseRole">
            Register
        </a>
    </li>
}
@section Login
{
    <li class="nav-item">
        <a class="btn btn-outline-white ml-2" asp-area="Identity" asp-page="/Account/Login" title="Login">
            <i class="fas fa-address-card"></i>  
            Log in
        </a>
    </li>
}