@using BeatsWave.Web.ViewModels.Beats
@model ByNameViewModel

<section id="single-product-section">
    <div class="section">
        <div class="single-tab-content">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#description" role="tab" data-toggle="tab">FANS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#review" role="tab" data-toggle="tab">COMMENTS (0)</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                @if (Model.Fans.Count() == 0)
                {
                    <em class="text-light">NO CURRENT FANS</em>
                }
                else
                {
                @foreach (var fan in Model.Fans)
                {
                    <div role="tabpanel" class="tab-pane first-tab-pane fade in active" id="description">
                        <div class="post-author">
                            <div class="author-info">
                                <div class="author-image">
                                    <img src="resources/images/no-pic.png" alt="No Pic" class="no-pic" style="display: none;">
                                    <img src="@fan.ImageUrl" alt="Eye Spy">
                                </div>
                                <div class="author-name-date">
                                    <p>@fan.Name</p>
                                    <p>@fan.CreatedOn</p>
                                </div>
                                <em>Your comment is awaiting moderation</em>
                            </div>
                        </div>
                    </div>
                }
                }
                <div role="tabpanel" class="tab-pane secondt-tab-pane fade" id="review">
                    <div id="blog-post" class="col-sm-9">
                        <div class="post-author">
                            <div class="author-info">
                                <div class="author-image">
                                    <img src="resources/images/no-pic.png" alt="No Pic" class="no-pic" style="display: none;">
                                    <img src="resources/images/eye_spy.png" alt="Eye Spy">
                                </div>
                                <div class="author-name-date">
                                    <p>Gavin Hoffman</p>
                                    <p>5 hours ago</p>
                                </div>
                                <em>Your comment is awaiting moderation</em>
                            </div>
                            <div class="author-description">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                        <div class="form">
                            <h2>ADD A REVIEW</h2>
                            <form>
                                <div class="comment-form-rating">
                                    <label>Your rating</label>
                                    <p class="stars selected">
                                        <span>
                                            <a class="star-1 active" href="javascript:void(0);">
                                                <i class="fa fa-star star-rate" aria-hidden="true"></i>
                                            </a>
                                            <a class="star-2" href="javascript:void(0);">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                            <a class="star-3" href="javascript:void(0);">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                            <a class="star-4" href="javascript:void(0);">
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </a>
                                            <a class="star-5" href="javascript:void(0);">
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                    </p>
                                </div>
                                <div class="row fild_1">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" placeholder="Full name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>