<footer id="footer">
    <div class="bg_image" style="background-image: url('@Url.Content("~/images/travis.jpg")')"></div>
    <div class="overly"></div>
    <div class="section">
        <div class="row footer">
            <div class="col">
                <h2>ABOUT BEATSWAVE</h2>
                <p>
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
            <div class="col">
                <div class="f-content">
                    <h2>UPCOMING EVENT</h2>
                    <div class="day_num">
                        <a href="05-Events-Single-Events.html">
                            <span>19</span>
                            <div>
                                <p>Dec</p>
                                <p>2019</p>
                            </div>
                            <p>Torwar Festival</p>
                        </a>
                    </div>
                    <div class="day_num">
                        <a href="05-Events-Single-Events.html">
                            <span>12</span>
                            <div>
                                <p>Dec</p>
                                <p>2020</p>
                            </div>
                            <p>Lavaza Festival</p>
                        </a>
                    </div>
                    <div class="day_num">
                        <a href="05-Events-Single-Events.html">
                            <span>15</span>
                            <div>
                                <p>Dec</p>
                                <p>2020</p>
                            </div>
                            <p>Ladesno Festival</p>
                        </a>
                    </div>
                    <div class="day_num">
                        <a href="05-Events-Single-Events.html">
                            <span>12</span>
                            <div>
                                <p>Dec</p>
                                <p>2020</p>
                            </div>
                            <p>Coachella Festival</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="footer_logo">
                    <img src="~/images/logo.png" alt="Logo">
                </div>
                <div class="info">
                    <p class="main_p">175 Grand Central Parkway</p>
                    <p>Phone: +00 (0) 101 1010 101</p>
                    <p>Fax: +00 (0) 101 1010 101</p>
                    <p>Email: support@bets.com</p>
                </div>
                <div class="folow">
                    <ul>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-tripadvisor"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row f_1">
        <div class="col">
            <div class="copyright">
                <span>Copyright © BeatsWave 2020</span>
            </div>
        </div>
    </div>
</footer>