<section id="releated-products">
    <div class="section">
        <div class="related-product-title">
            <h3>Related products</h3>
        </div>
        <div class="shop-items">
            <div class="s-item wow fadeInUp">
                <div class="s-item-image">
                    <a href="#"><img src="resources/images/s-l.jpg" alt="Image"></a>
                </div>
                <div class="s-item-name">
                    <a href="#"><h2>Textured Sweatshirt</h2></a>
                    <p>$1,000<sup>.00</sup></p>
                    <div class="ad-to-card-button">
                        <a href="#">ADD TO CARD</a>
                    </div>
                </div>
            </div>
            <div class="s-item wow fadeInUp">
                <div class="s-item-image">
                    <a href="#"><img src="resources/images/hqdefault-1.jpg" alt="Image"></a>
                </div>
                <div class="s-item-name">
                    <a href="#"><h2>Guns N Roses</h2></a>
                    <p>$1,000<sup>.00</sup></p>
                    <div class="ad-to-card-button">
                        <a href="#">ADD TO CARD</a>
                    </div>
                </div>
            </div>
            <div class="s-item wow fadeInUp">
                <div class="s-item-image">
                    <a href="#"><img src="resources/images/s-l300.jpg" alt="Image"></a>
                </div>
                <div class="s-item-name">
                    <a href="#"><h2>Printed T-Shirt</h2></a>
                    <p>
                        $899<sup>.00</sup>
                        <span class="sale">$1000<sup>.00</sup></span>
                    </p>
                    <div class="ad-to-card-button">
                        <a href="#">ADD TO CARD</a>
                    </div>
                </div>
                <div class="best-offer" style="background-image: url('resources/images/offer-bg.png')">
                    <h4>BEST!</h4>
                    <p>OFFER</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>