<div class="nav-menu">
    <!-- NAV BAR BACKGROUND IMAGE-->
    <div class="section_bg_image" style="background-image: url('@Url.Content("~/images/background-1.png")')"></div>
    <!-- START NAV BAR-->
    <ul class="nav flex-column section">
        <li class="nav-item">
            <a class="nav-link active" href="01-Home.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">Music</a>
            <ul class="child-item">
                <li class="dropdown-child-item">
                    <a class="nav-link" href="02-Music-Discography.html">Discography</a>
                </li>
                <li class="dropdown-child-item">
                    <a class="nav-link" href="03-Music-Single-Album.html">Single Album</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">Events</a>
            <ul class="child-item">
                <li class="dropdown-child-item">
                    <a class="nav-link" href="04-Events-All-Events.html">Upcoming Events</a>
                </li>
                <li class="dropdown-child-item">
                    <a class="nav-link" href="04-Events-All-Events.html">Past Events</a>
                </li>
                <li class="dropdown-child-item">
                    <a class="nav-link" href="04-Events-All-Events.html">All Events</a>
                </li>
                <li class="dropdown-child-item">
                    <a class="nav-link" href="05-Events-Single-Events.html">Single Event</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">Videos</a>
            <ul class="child-item">
                <li class="dropdown-child-item">
                    <a class="nav-link" href="06-Videos.html">Videos List</a>
                </li>
                <li class="dropdown-child-item">
                    <a class="nav-link" href="07-Single-Video.html">Single Video</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">Gallery</a>
            <ul class="child-item">
                <li class="dropdown-child-item">
                    <a class="nav-link" href="08-Gallery-Photogallery.html">Gallery List</a>
                </li>
                <li class="dropdown-child-item">
                    <a class="nav-link" href="09-Gallery-Single-Gallery.html">Single Gallery</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">Blog</a>
            <ul class="child-item">
                <li class="dropdown-child-item">
                    <a class="nav-link" href="13-Blog-Mansory.html">Blog Masonry</a>
                </li>
                <li class="dropdown-child-item">
                    <a class="nav-link" href="10-Blog-Grid.html">Blog Grid</a>
                </li>
                <li class="dropdown-child-item">
                    <a class="nav-link" href="12-Blog-Standard.html">Blog Standard</a>
                </li>
                <li class="dropdown-child-item">
                    <a class="nav-link" href="11-Blog-Single-Post.html">Single Post</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">Shop</a>
            <ul class="child-item">
                <li class="dropdown-child-item">
                    <a class="nav-link" href="19-Shop.html">Product List</a>
                </li>
                <li class="dropdown-child-item">
                    <a class="nav-link" href="20-Single-Product.html">Single Product</a>
                </li>
                <li class="dropdown-child-item">
                    <a class="nav-link" href="14-Cart.html">Cart</a>
                </li>
                <li class="dropdown-child-item">
                    <a class="nav-link" href="15-Checkout-Page.html">Checkout</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="16-Contact-Us.html">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="17-404.html">404</a>
        </li>
    </ul>
    <!-- END NAV BAR-->
</div>