@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
    this.Layout = "_LayoutClear";
}

<!-- START HEADER SECTION -->
<section id="header-404">
    <!-- HEADER BACKGROUND IMAGE  -->
    <div class="bg_image" style="background-image: url('@Url.Content("~/images/savage.jpg")')"></div>
    <div class="overly"></div>
    <div class="section section_1_title">
        <div class="big-title">
            <!--<h1>404</h1>-->
            <img src="~/images/404.png" alt="Logo 1">
            <h2>Upps! nothing found</h2>
        </div>
        <div class="search-404">
            <form class="form-inline md-form form-sm">
                <input class="mr-sm-2" type="text" placeholder="Type any keyword" aria-label="">
                <button class="search-btn" type="submit">SEARCH</button>
            </form>
        </div>
        <div class="content-404">
            <h2>Sorry!</h2>
            <p>The page you are looking for does not exist or another error occurred</p>
            <a asp-controller="Home" asp-action="Index"><i class="fa fa-home" aria-hidden="true"></i><span>GO BACK HOME</span></a>
        </div>
    </div>
</section>

@*@if (this.Model.ShowRequestId)
{
<p>
    <strong>Request ID:</strong> <code>@this.Model.RequestId</code>
</p>
}*@
